@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
}

/* Projects background */
.projects-bg {
  background-image: url('/images/projects/pc.png');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top 20px center;
  width: 1262px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .projects-bg {
    background-image: url('/images/projects/mobile.png');
  }
}