@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
}

.home-bg {
  position: fixed;
  inset: 0;
  background-repeat: no-repeat;
}

/* Projects background */
.projects-bg {
  background-image: url('/images/projects/pc.png');
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: top 20px center;
  width: 1262px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .projects-bg {
    background-image: url('/images/projects/mobile.png');
    background-size: 100vw;
  background-position: top 50px center;
    width: 100%;
  }

  .home-bg {
    /* Al rotar, el ancho/alto se intercambian */
    width: 100vh;
    height: 100vw;

    top: 50%;
    left: 50%;

    /* Centrado + rotación */
    transform: translate(-50%, -50%) rotate(var(--mobile-rotate, 90deg));
    transform-origin: center;

    /* IMPORTANTE: sigue usando tu position/size */
    background-repeat: no-repeat;
  }
}